<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/cars/edit.css" />
<%- include('../partials/nav') %>

<section>
  <h1>Edit the Car</h1>
  <form action="/cars/<%= car._id %>?_method=PUT" method="POST">
    <label for="boughtFor-input">Bought For:</label>
    <input type="text" name="boughtFor" id="boughtFor-input">
    <label for="year-input">Year:</label>
    <input type="text" name="year" id="release-year-input">
    <label for="make-input">Make:</label>
    <input type="text" name="make" id="make-input">
    <label for="model-input">Model:</label>
    <input type="text" name="model" id="model-input">
    <button type="submit">Save Car</button>
    </form>
</section>

<%- include('../partials/footer') %>